@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  line-height: 1; }

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure,
menu,
details {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

img {
  display: block;
  border: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

p {
  margin: 0;
  padding: 0; }

address,
cite,
dfn,
em,
var {
  font-style: normal; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }

:focus {
  outline: 0; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: inherit; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  padding: 0;
  border: 0;
  color: inherit;
  background-color: transparent;
  -webkit-appearance: button;
  cursor: pointer; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  padding: 0;
  line-height: normal; }
  input::-webkit-input-placeholder {
    font-weight: 300; }
  input::-ms-input-placeholder {
    font-weight: 300; }
  input::-moz-placeholder {
    font-weight: 300; }

[type="number"] {
  -moz-appearance: textfield; }
  [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    margin: 0;
    height: auto;
    -webkit-appearance: none; }

[type="search"] {
  -webkit-appearance: textfield; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

textarea {
  overflow: auto;
  resize: none;
  -webkit-appearance: none; }

select {
  -webkit-appearance: none;
  background-color: #fff; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', sans-serif;
  background: white;
  padding-bottom: 84px; }

header {
  width: 100%;
  background: #da262c;
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px; }
  header div:first-child {
    height: 34px; }
  header button {
    font-size: 0.750em;
    color: white;
    height: 16px;
    line-height: 16px;
    padding-right: 25px;
    background: url("../img/ico-salir.png") no-repeat right center; }

#subheader {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: black; }
  #subheader h2 {
    font-size: 0.750em;
    color: white;
    background: url("../img/ico_centro_ayuda.png") no-repeat left center;
    height: 40px;
    padding-left: 30px;
    font-weight: 300;
    line-height: 40px; }
  #subheader button.ico_ejecutivo {
    font-size: 0.750em;
    color: white;
    background: url("../img/ico-ejecutivo.png") no-repeat left center;
    height: 40px;
    padding-left: 30px;
    font-weight: 300;
    line-height: 40px; }

#content {
  padding: 40px 20px; }
  #content h1 {
    font-weight: 400;
    color: #222;
    margin-bottom: 22px;
    font-size: 1.500em; }
  #content p.bajada {
    font-size: 0.875em;
    color: black;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 1.250em; }

.menu_bienvenida li {
  width: 100%;
  border-bottom: 1px solid #abafb0;
  padding: 10px 0 10px 50px; }
  .menu_bienvenida li:last-child {
    border-bottom: none; }
  .menu_bienvenida li a {
    display: block;
    padding: 15px 20px;
    color: #555555;
    padding-left: 50px;
    position: relative; }
    .menu_bienvenida li a::before {
      content: ' ';
      width: 6px;
      height: 10px;
      background: url("../img/ico-arrow.png") no-repeat left top;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      right: 35px; }
    .menu_bienvenida li a.consumos {
      background: url("../img/ico-mis-consumos.gif") no-repeat left center; }
    .menu_bienvenida li a.boleta {
      background: url("../img/ico-mi-boleta.gif") no-repeat left center; }
    .menu_bienvenida li a.contrasena {
      background: url("../img/ico-cambio-pass.gif") no-repeat left center; }

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fafafa;
  padding: 10px 20px; }
  footer ul {
    display: table;
    width: 100%; }
    footer ul li {
      width: 33%;
      overflow: hidden;
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      footer ul li a {
        font-size: 0.750em;
        font-weight: 300;
        color: #222222;
        padding-top: 40px;
        display: block; }
        footer ul li a.consumos {
          background: url("../img/ico-mis-consumos.gif") no-repeat center top; }
        footer ul li a.boleta {
          background: url("../img/ico-mi-boleta.gif") no-repeat center top; }
        footer ul li a.contrasena {
          background: url("../img/ico-cambio-pass.gif") no-repeat center 5px; }

.service_info {
  padding: 30px 0px;
  display: table;
  width: 100%; }
  .service_info .row {
    display: table-row; }
    .service_info .row div.ico {
      display: table-cell;
      vertical-align: middle;
      max-width: 60px;
      padding: 15px 7.14% 15px 0; }
    .service_info .row article {
      display: table-cell;
      vertical-align: middle;
      padding: 15px  3.125%;
      position: relative; }
      .service_info .row article::before {
        content: ' ';
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -30%;
        height: 60%;
        width: 1px;
        background: #abafb0; }
      .service_info .row article:first-child {
        padding-left: 0 !important; }
      .service_info .row article h4 {
        font-size: 0.750em;
        font-weight: 300;
        color: #222222;
        margin-bottom: 10px; }
      .service_info .row article p {
        margin-bottom: 2px !important; }
        .service_info .row article p span {
          font-size: 0.875rem !important; }
        .service_info .row article p.data {
          font-size: 1.250rem !important;
          color: #222222;
          font-weight: 400; }
        .service_info .row article p.bajada {
          font-weight: 300 !important;
          font-size: 0.750em !important;
          color: #222 !important; }
    .service_info .row article:last-child::before {
      display: none; }

#info-boleta .row {
  width: 100%;
  margin-bottom: 20px; }
  #info-boleta .row p {
    color: #222222;
    margin-bottom: 10px;
    font-size: 14px; }
    #info-boleta .row p .red {
      color: #ff2324; }
  #info-boleta .row .info {
    font-weight: 300; }

#cambio-password .row {
  margin-bottom: 20px;
  width: 100%; }
#cambio-password label, #cambio-password .label {
  font-size: 0.875em;
  color: #222;
  display: block;
  margin-bottom: 10px; }
#cambio-password input {
  width: 100%;
  border: 1px solid #d3d8db;
  font-size: 0.875em;
  color: #222;
  padding: 10px; }
#cambio-password #newPass {
  width: 100%;
  border: 1px solid #d3d8db;
  font-size: 0.875em;
  color: #222;
  padding: 10px;
  background: #fafafa;
  text-align: center;
  font-weight: 300;
  margin-bottom: 20px; }
#cambio-password button {
  font-size: 0.875em;
  color: white;
  width: 140px;
  line-height: 43px;
  background: #da262c;
  margin: 0 auto;
  display: block;
  border-radius: 3px; }
#cambio-password #copyPass {
  background: #abafb1 !important; }

/*# sourceMappingURL=styles.css.map */
