@import '../node_modules/reset-scss/reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
body{
    font-family: 'Roboto', sans-serif;
    background: white;
    padding-bottom: 84px;
}

header{
    width: 100%;
    background: #da262c;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

   

    div{
        &:first-child{
            height: 34px;
        }
    }

    button{
        font-size: 0.750em;
        color: white;
        height: 16px;
        line-height: 16px;
        padding-right: 25px;
        background: url('../img/ico-salir.png') no-repeat right center;
    }
}

#subheader{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: black;

    h2{
        font-size: 0.750em;
        color: white;
        background: url('../img/ico_centro_ayuda.png') no-repeat left center;
        height: 40px;
        padding-left: 30px;
        font-weight: 300;
        line-height: 40px;
    }

    button.ico_ejecutivo{
        font-size: 0.750em;
        color: white;
        background: url('../img/ico-ejecutivo.png') no-repeat left center;
        height: 40px;
        padding-left: 30px;
        font-weight: 300;
        line-height: 40px;        
    }
}

#content{
    padding: 40px 20px;

    h1{
        font-weight: 400;
        color: #222;
        margin-bottom: 22px;
        font-size: 1.500em;
    }

    p.bajada{
        font-size: 0.875em;
        color: black;
        font-weight: 300;
        margin-bottom: 40px;
        line-height: 1.250em;
    }
}

.menu_bienvenida{
    li{
        width: 100%;
        border-bottom: 1px solid #abafb0;
        padding: 10px 0 10px 50px;
        &:last-child{
            border-bottom: none;
        }
        a{
            display: block;
            padding: 15px 20px;
            color: #555555;
            padding-left: 50px;
            position: relative;

            &::before{
                content: ' ';
                width: 6px;
                height: 10px;
                background: url('../img/ico-arrow.png') no-repeat left top;
                position: absolute;
                top: 50%;
                margin-top: -5px;
                right: 35px;
            }

            &.consumos{
                background: url('../img/ico-mis-consumos.gif') no-repeat left center;
            }

            &.boleta{
                background: url('../img/ico-mi-boleta.gif') no-repeat left center;
            }

            &.contrasena{
                background: url('../img/ico-cambio-pass.gif') no-repeat left center;

            }
        }
    }
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background: #fafafa;
    padding: 10px 20px;

    ul{
        display: table;
        width: 100%;
        li{
            width: 33%;
            overflow: hidden;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            a{
                font-size: 0.750em;
                font-weight: 300;
                color: #222222;
                padding-top: 40px;
                display: block;

                &.consumos{
                    background: url('../img/ico-mis-consumos.gif') no-repeat center top;
                }
    
                &.boleta{
                    background: url('../img/ico-mi-boleta.gif') no-repeat center top;
                }
    
                &.contrasena{
                    background: url('../img/ico-cambio-pass.gif') no-repeat center 5px;
    
                }
            }
        }
        
    }


   
}

.service_info{
    padding: 30px 0px;
    display: table;
    width: 100%;

    .row{
        display: table-row;

        div.ico{
            display: table-cell;
            vertical-align: middle;
            max-width: 60px;
            padding: 15px 7.14% 15px 0;
        }
        
        article{
            display: table-cell;
            vertical-align: middle;
            padding: 15px  3.125%;
            position: relative;

            &::before{
                content: ' ';
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -30%;
                height: 60%;
                width: 1px;
                background: #abafb0;
            }
            
            &:first-child{
                padding-left: 0 !important;
            }
            
            h4{
                font-size: 0.750em;
                font-weight: 300;
                color: #222222;
                margin-bottom: 10px;
            }

            p{
                margin-bottom: 2px !important;
                span{
                    font-size: 0.875rem !important;
                }
                &.data{
                    font-size: 1.250rem !important;
                    color: #222222;
                    font-weight: 400;

                }

                &.bajada{
                    font-weight: 300 !important;
                    font-size: 0.750em !important;
                    color: #222 !important;
                }
            }


        }
        article:last-child{
            &::before{
                display: none;
            }

        }
    }
}

#info-boleta{

    .row{
        width: 100%;
        margin-bottom: 20px;
        p{
            color: #222222;
            margin-bottom: 10px;
            font-size: 14px;

            .red{
                color: #ff2324
            }
        }

        .info{
            font-weight: 300;

        }
    }
}

#cambio-password{
    .row{
        margin-bottom: 20px;
        width: 100%;
    }

    label{
        font-size: 0.875em;
        color: #222;
        display: block;
        margin-bottom: 10px;
    }

    input{
        width: 100%;
        border: 1px solid #d3d8db;

        font-size: 0.875em;
        color: #222;
        padding: 10px;

    }

    button{
        font-size: 0.875em;
        color: white;  
        width: 140px;
        line-height: 43px;
        background: #da262c;
        margin: 0 auto;
        display: block;
        border-radius: 3px;     
    }
}